# Maven
target/
*.jar
# Exception : maven-wrapper.jar doit etre commite pour la CI/CD
!.mvn/wrapper/maven-wrapper.jar
!auth/.mvn/wrapper/maven-wrapper.jar
*.class

# Logs
logs/
*.log
*.log.*.gz

# IDE
.idea/
*.iml
.vscode/
*.project
*.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env

# Binaires / installateurs
*.exe
*.dmg
*.pkg
*.msi

